{{!-- views/index.hbs --}}

<div id="index">
    <div id="title-container">

        <div id="title">
            <h1>Cinema</h1>
            <h1>Ironhack</h1>
            <a href="/movies"><button id="movie-button">Check the movies!</button></a>
        </div>

    </div>
</div>