.container{
  display:flex;
  flex-direction:column;
  padding:20px;
}

.header{
  background: #1F2535;
  color:white;
  justify-content: space-between;
  padding:20px 80px 0 80px;
}

.section{
  display:flex;
  padding:180px 0 180px 0;
  justify-content: space-evenly;
}

.headerImages{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#imageMenu{
  width: 30px !important;
  height: 20px !important;
}
.headerContent{
  width: 50%;
  margin-top:100px;
  margin-bottom:100px;
}
.headerContentH1{
  font-size: 100px;
  margin-bottom:0 !important;
  line-height: 90px;
}
.headerContentP{
  font-size:20px;
  margin-left:10px;
  margin-bottom:100px;
}
.headerContentButton{
  color:#1F2535 !important;
  background-color: white;
  font-size:20px;
  padding:25px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration-line: none;
}
.sectionH1{
  color:#1F2535 !important;
  font-size: 32px;
  margin-top:15px;
  margin-bottom:0px;
}

.sectionP{
  font-size:20px;
  color:rgb(126, 123, 123);
  margin-top:5px;
}