{{!-- views/drones/create-form.hbs --}}

<h2>Create a new drone</h2>
<hr>

<div>
  <form method='POST' action='/drones/create'>

    <div>
      <label>Name: </label>
      <input name='name' type='text'>
    </div>

    <div>
      <label>Propellers: </label>
      <input name='propellers' type='number'>
    </div>

    <div>
      <label>Max Speed: </label>
      <input name='maxSpeed' type='number'>
    </div>

    <button type='submit'>Submit</button>

  </form>
</div>