<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  {{!-- informacion que vaya en el layout esta visible en todas las paginas --}}
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/lessons">Lessons</a>
    <a href="/approved-lessons">Approved Lessons</a>
    <a href="/search">Search</a>
  </nav>

  {{{body}}}

  <div>
    HBS & Curro Jimenez Footer 2022
  </div>

</body>

</html>