body {
  margin: 0;
  background-color: lightgray;
}

#my-canvas {
  background-color: darkgray;
}

#start-btn, #restart-btn, #back-to-menu {
  background-color: green;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#my-canvas, #gameover-screen {
  display: none;
}