<h2>Este es un perrete aleatorio</h2>


{{>dogpartial data.message}}




{{!-- Recorrer arrays --}}
{{!-- {{#each breeds}}
  //This es cada elemento del array
  <a href="/dog-by-breed/{{this}}">Ir a {{this}}</a>
{{/each}} --}}

{{!-- {{#if data}}
    //Esto se pinta si data es true o similar
{{/if}} --}}

{{!-- {{#unless data}}
    //Esto se pinta si data es false o similar
{{/unless}} --}}

{{!-- Ver mas ordenes en tarjeta 
https://preview.my.ironhack.com/lms/courses/course-v1:IRONHACK+WDFT+202205_BCN_2/modules/ironhack-course-chapter_5/units/ironhack-course-chapter_5-sequential_2-vertical --}}